<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./includes/head") %>
</head>

<body class="g-sidenav-show  bg-gray-200">
    <%- include("./includes/left") %>
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <!-- Navbar -->
            <%- include("./includes/header") %>
                <!-- End Navbar -->
                <div class="container-fluid py-4">
                    <div class="btn-group">
                        <a href="/add-book" class="btn btn-secondary">Add New Book </a>
                        <button class="btn btn-primary">Activate</button>
                        <button class="btn btn-warning">Deactivate</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                    <table class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Image</th>
                                <th>Book Name</th>
                                <th>Author</th>
                                <th>Price</th>
                                <th>Published On</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                                <th><input type="checkbox"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i=0;i<books.length; i++){%>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= books[i].book_image %></td>
                                <td><%= books[i].book_name %></td>
                                <td><%= books[i].author %></td>
                                <td>$ <%= books[i].book_price %></td>
                                <td><%= books[i].publish_on %></td>
                                <td><%= books[i].status %></td>
                                <td><a href="/edit-book"><i class="fa fa-pencil-square-o"></i></a></td>
                                <td><a href="/delete-books"><i class="fa fa-trash-o" ></i></a></td>
                                <th><input type="checkbox"></th>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
        </main>

        <!--   Core JS Files   -->
        <%- include("./includes/footer") %>
</body>

</html>